.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1229px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 31px;
	margin-left: auto;
	margin-right: auto;
}

#pu812
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -12px;
	left: -100px;
	padding: 15px 1380px 763px 100px;
}

#u812
{
	z-index: 209;
	width: 1480px;
	height: 81px;
	top: -12px;
	left: 50%;
	margin-left: -50%;
}

#u1505
{
	z-index: 235;
	width: 345px;
	height: 67px;
	top: 7px;
	left: 50%;
	margin-left: -157px;
}

#u2302
{
	z-index: 207;
	width: 157px;
	height: 53px;
	top: 41px;
	left: 50%;
	margin-left: -617px;
}

#u5857
{
	z-index: 194;
	width: 60px;
	height: 39px;
	top: 62px;
	left: 50%;
	margin-left: 525px;
}

#u5857:hover
{
	width: 60px;
	height: 39px;
	min-height: 0px;
	margin: 0px 0px 0px 525px;
}

#u819
{
	z-index: 234;
	width: 1480px;
	height: 3px;
	top: 69px;
	left: 50%;
	margin-left: -50%;
}

#pamphletu2343
{
	z-index: 240;
	width: 0.01px;
	height: 31px;
	top: 68px;
	left: 50%;
	margin-left: -634px;
}

#u2344popup
{
	z-index: 241;
}

#u2344
{
	width: 392px;
	top: 33px;
	left: 50px;
}

#u2355
{
	z-index: 242;
	width: 371px;
	height: 263px;
	margin-right: -10000px;
	padding: 13px 10px 134px 9px;
}

#pu6787
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u6787
{
	z-index: 250;
	width: 50px;
	height: 37px;
	margin-right: -10000px;
}

#u2390-4
{
	z-index: 243;
	margin-right: -10000px;
	margin-top: 1px;
	left: 54px;
}

#pu5630
{
	width: 0.01px;
	margin-top: 15px;
	position: relative;
}

#u5630
{
	z-index: 247;
	width: 118px;
	height: 166px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5628
{
	z-index: 248;
	width: 118px;
	height: 166px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 124px;
}

#u5629
{
	z-index: 249;
	width: 118px;
	height: 166px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 249px;
}

#u2368
{
	z-index: 251;
	width: 58px;
	margin-right: -10000px;
}

#u2369
{
	width: 58px;
	height: 31px;
}

.ie #u2369
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2369:hover
{
	margin: 0px;
}

.ie #u2369:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2369.PamphletThumbSelected
{
	margin: 0px;
}

#u2330
{
	z-index: 208;
	width: 45px;
	height: 30px;
	top: 69px;
	left: 50%;
	margin-left: -621px;
}

#u2303-4
{
	z-index: 236;
	width: 115px;
	min-height: 20px;
	top: 74px;
	left: 50%;
	margin-left: -582px;
}

#u2303-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px -582px;
}

#u2727
{
	z-index: 196;
	width: 45px;
	height: 30px;
	bottom: 28px;
	left: 50%;
	margin-left: -627px;
}

#u2024
{
	z-index: 195;
	width: 169px;
	height: 52px;
	bottom: 1px;
	left: 50%;
	margin-left: -600px;
}

#u2665-4
{
	z-index: 253;
	width: 137px;
	min-height: 17px;
	bottom: 33px;
	left: 50%;
	margin-left: -576px;
}

#u2029
{
	z-index: 204;
	width: 43px;
	height: 44px;
	bottom: 6px;
	left: 50%;
	margin-left: 436px;
}

#u2029:hover
{
	margin: 0px 0px 0px 436px;
}

#u2031
{
	z-index: 206;
	width: 43px;
	height: 44px;
	bottom: 6px;
	left: 50%;
	margin-left: 486px;
}

#u2031:hover
{
	margin: 0px 0px 0px 486px;
}

#u2030
{
	z-index: 205;
	width: 43px;
	height: 44px;
	bottom: 6px;
	left: 50%;
	margin-left: 536px;
}

#u2030:hover
{
	margin: 0px 0px 0px 536px;
}

#u2025
{
	z-index: 197;
	width: 1480px;
	height: 39px;
	bottom: -8px;
	left: 50%;
	margin-left: -50%;
}

#u2026-6
{
	z-index: 198;
	bottom: 3px;
	left: 50%;
	margin-left: -618px;
}

#pu5167
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -12px;
	left: -100px;
}

#u5167
{
	z-index: 2;
	width: 1479px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 1049px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 82px;
	background: #FFFFFF url("../images/290a5095_11dark.jpg") no-repeat left top;
	background-size: cover !important;
}

#u5167_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1279px;
	position: relative;
	left: -100px;
}

#u5751
{
	z-index: 193;
	width: 853px;
	min-height: 484px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 312px;
}

#slideshowu4781
{
	z-index: 3;
	width: 0.01px;
	height: 561px;
	position: relative;
	margin-right: -10000px;
	margin-top: 584px;
	left: 158px;
}

#u4784
{
	position: absolute;
	width: 705px;
	height: 561px;
	background-color: transparent;
	left: 208px;
}

#u4784popup
{
	z-index: 4;
}

#u4785
{
	z-index: 5;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4785_img
{
	margin: -31px 3px;
}

#u4946
{
	z-index: 7;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4946_img
{
	margin: 11px -23px 16px -24px;
}

#u4955
{
	z-index: 9;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4955_img
{
	margin: -9px -103px 7px;
}

#u4964
{
	z-index: 11;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4964_img
{
	margin: -8px -36px -6px -37px;
}

#u4973
{
	z-index: 13;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4973_img
{
	margin-left: -82px;
	margin-right: -82px;
}

#u4982
{
	z-index: 15;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4982_img
{
	margin-top: -89px;
	margin-bottom: -89px;
}

#u4991
{
	z-index: 17;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4991_img
{
	margin: 164px -48px;
}

#u5000
{
	z-index: 19;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5000_img
{
	margin: -43px 3px -44px;
}

#u5009
{
	z-index: 21;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5009_img
{
	margin: 11px -81px 14px;
}

#u5018
{
	z-index: 23;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5018_img
{
	margin: -120px 34px;
}

#u5027
{
	z-index: 25;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5036
{
	z-index: 27;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5045
{
	z-index: 29;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5045_img
{
	padding: 9px 3px;
}

#u5054
{
	z-index: 31;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5054_img
{
	padding: 43px 3px;
}

#u5063
{
	z-index: 33;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5072
{
	z-index: 35;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5081
{
	z-index: 37;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5081_img
{
	padding: 54px 2px 54px 3px;
}

#u5090
{
	z-index: 39;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5090_img
{
	padding: 19px 2px 19px 3px;
}

#u5099
{
	z-index: 41;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5099_img
{
	margin: -120px 86px;
}

#u5108
{
	z-index: 43;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5108_img
{
	padding: 55px 3px;
}

#u5117
{
	z-index: 45;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5117_img
{
	padding: 46px 3px;
}

#u5126
{
	z-index: 47;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5027_img,#u5036_img,#u5072_img,#u5126_img
{
	padding: 48px 2px 48px 3px;
}

#u5135
{
	z-index: 49;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5135_img
{
	padding: 45px 3px 44px;
}

#u5144
{
	z-index: 51;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4785_clip,#u4946_clip,#u4955_clip,#u4964_clip,#u4973_clip,#u4982_clip,#u4991_clip,#u5000_clip,#u5009_clip,#u5018_clip,#u5063_clip,#u5099_clip,#u5144_clip
{
	overflow: hidden;
	width: 705px;
	height: 561px;
}

#u5063_img,#u5144_img
{
	margin: -120px 80px;
}

#u5153
{
	z-index: 53;
	width: 705px;
	height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5153_img
{
	padding: 51px 2px 51px 3px;
}

#u4805
{
	position: absolute;
	width: 190px;
	top: 246px;
}

#u4805popup
{
	z-index: 55;
}

#u4806-16
{
	z-index: 56;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u4952-4
{
	z-index: 72;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u4961-4
{
	z-index: 76;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u4970-4
{
	z-index: 80;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u4979-4
{
	z-index: 84;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u4988-4
{
	z-index: 88;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u4997-4
{
	z-index: 92;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5006-4
{
	z-index: 96;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5015-4
{
	z-index: 100;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5024-4
{
	z-index: 104;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5033-4
{
	z-index: 108;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5042-4
{
	z-index: 112;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5051-4
{
	z-index: 116;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5060-4
{
	z-index: 120;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5069-4
{
	z-index: 124;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5078-4
{
	z-index: 128;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5087-4
{
	z-index: 132;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5096-4
{
	z-index: 136;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5105-4
{
	z-index: 140;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5114-4
{
	z-index: 144;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5123-4
{
	z-index: 148;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5132-4
{
	z-index: 152;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5141-4
{
	z-index: 156;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5150-4
{
	z-index: 160;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u5159-17
{
	z-index: 164;
	width: 170px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	background-color: rgba(0, 0, 0, 0.83);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.83);
}

#u4804-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	top: 513px;
	left: 524px;
	-pie-background: rgba(255, 255, 255, 0.6);
}

#u4804-4popup
{
	z-index: 181;
}

#u4808-4
{
	position: absolute;
	width: 10px;
	min-height: 84px;
	padding: 10px;
	color: #E7E7E7;
	font-size: 60px;
	line-height: 84px;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	top: 83px;
	left: 145px;
}

#u4808-4popup
{
	z-index: 185;
}

#u4788-4
{
	position: absolute;
	width: 10px;
	min-height: 84px;
	padding: 10px;
	color: #E7E7E7;
	font-size: 60px;
	line-height: 84px;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	top: 83px;
	left: 926px;
}

#u4788-4popup
{
	z-index: 189;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u813
{
	z-index: 211;
	top: 40px;
	left: 50%;
	margin-left: -622px;
}

#u813_states
{
	height: 14px;
	width: 81px;
}

#u814
{
	z-index: 215;
	top: 39px;
	left: 50%;
	margin-left: 271px;
}

#u814_states
{
	height: 14px;
	width: 94px;
}

#u815
{
	z-index: 219;
	top: 39px;
	left: 50%;
	margin-left: 396px;
}

#u815_states
{
	height: 14px;
	width: 90px;
}

#u816
{
	z-index: 223;
	top: 39px;
	left: 50%;
	margin-left: -510px;
}

#u816_states
{
	height: 14px;
	width: 131px;
}

#u817
{
	z-index: 227;
	top: 39px;
	left: 50%;
	margin-left: 517px;
}

#u817_states
{
	height: 14px;
	width: 101px;
}

#u818
{
	z-index: 231;
	top: 39px;
	left: 50%;
	margin-left: -348px;
}

#u818_states
{
	height: 14px;
	width: 109px;
}

#u6791
{
	z-index: 257;
	width: 426px;
	height: 100px;
	margin-right: -10000px;
	left: 525px;
}

.ie #u2369.PamphletThumbSelected,.ie #u6791
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

