.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u2303-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2665-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u514-5,#u458-8,#u459-8
{
	font-family: source-sans-pro-n6, sans-serif;
}

