.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u2303-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2665-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4806-16,#u4952-4,#u4961-4,#u4970-4,#u4979-4,#u4988-4,#u4997-4,#u5006-4,#u5015-4,#u5024-4,#u5033-4,#u5042-4,#u5051-4,#u5060-4,#u5069-4,#u5078-4,#u5087-4,#u5096-4,#u5105-4,#u5114-4,#u5123-4,#u5132-4,#u5141-4,#u5150-4,#u5159-17,#u4804-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u4808-4,#u4788-4
{
	font-family: comfortaa-n3, sans-serif;
}

