.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u2303-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2665-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3299-4,#u2321-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u2326-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u2324-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

