.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u2303-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2665-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4580-3
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3283-8,#u4580-2,#u4587-4,#u4591-4,#u4601-4,#u4607-4,#u5847-4,#u5885-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

