.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u2303-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2665-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3305-5,#u2076-5,#u5211-4,#u5213-4,#u5215-5,#u5217-5,#u5219-5,#u5670-4,#u5656-4,#u5296-5,#u5298-5,#u5551-5,#u6914-4,#u6932-4,#u6947-4,#u5701-4,#u5561-4,#u5678-4,#u6885-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

